.menu {
  position: fixed;
  width: 180px;
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.align-left {
  float: left
}

.align-right {
  float: right
}

.team-container {
  overflow: hidden;
}
