$body-color: #AADAE3;

@import 'local_cdn/primer-css/scss/primer';
@import 'modules/typo';
@import 'modules/layout';
@import 'modules/tiles';
@import 'components/data-header';

body {
  background: $body-color;
}
.menu-item a {
  display: block;
}

.errors {
  font-size: 10px;
  color: red;
}
