/= react_component('MDE.Components.Picks', {picks: @picks, matches: @matches}, {prerender: true})
/  could not get server side renderig to work.. believe it is an issue with component js file location (engines))
= react_component('MDE.Components.Picks', {picks: @picks, matches: @matches})
  | Waiting for your Picks to load..
